.topImgColumns {
    width: 60%;
    justify-content: space-between;
}

.leftColumns {
    width: 700px;
}

.moveDou,
.insertContainer {
    width: 60%;
}

.Select_Much {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other_module {
    width: 48%;
}

.FocusQuestion {
    margin-right: 20px;
}

.rightColumns a {
    width: 200px;
    height: 150px;
    border-radius: inherit;
    overflow: inherit;
    position: relative;
}

.editorCover {
    margin-left: 20px;
}

.rightColumns a img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* 编辑文字 */
#editor-word {
    margin-left: 20px;
}

.editor-question-word {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 30px 20px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 12px;
}

.editor-question-word .input_introduce {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    width: 770px;
    justify-content: flex-start;
    padding-bottom: 15px;
    border-bottom: 2px solid #34352C;
}

.editor-question-word .input_introduce p {
    font-size: 16px;
    font-weight: 600;
}

.editor-question-word textarea {
    width: 776px;
    height: 276px;
    padding: 10px;
    border: 2px solid #34352C;
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    transition: all .3s ease;
    margin-top: 20px;
}

.editor-question-word textarea:focus {
    border: 2px solid #FF5983;
}

.editor-question-word div {
    width: 750px;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    padding-right: 50px;
}

.editor-question-word div a {
    padding: 8px 30px;
    background: #34352C;
    color: #fff;
    font-size: 14px;
    transition: all .3s ease;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.editor-question-word div a:hover {
    background: #FF5983;
}

/* 加载动画 */
.Load-animated {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    overflow: hidden;
}

.spinner {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #e0e0eb;
}

.spinnerTwo:before {
    position: absolute;
    top: 30px;
    left: 27.5px;
    content: "";
    height: 35px;
    width: 5px;
    background-color: #535657;
    transform-origin: 50% 0%;
    border-radius: 8px;
    animation: clockmin 2s linear infinite;
}

.spinnerTwo:after {
    position: absolute;
    content: "";
    height: 35px;
    width: 2px;
    top: 30px;
    left: 29px;
    transform-origin: 50% 0%;
    background-color: #D1462F;
    border-radius: 2px;
    animation: clocksec 0.5s linear infinite;
}

.spinnerTwo span {
    position: absolute;
    top: 10px;
    left: 27.5px;
    height: 20px;
    width: 5px;
    border-radius: 2px;
    background: #535657;
    transform-origin: 50% 100%;
    animation: clockhour 10s linear infinite;
}

@keyframes clockhour {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes clockmin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes clocksec {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}