.topImgColumns {
    width: 60%;
    justify-content: space-between;
}

.leftColumns {
    width: 700px;
}

.moveDou,
.insertContainer {
    width: 60%;
}

.Select_Much {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other_module {
    width: 48%;
}

.FocusQuestion {
    margin-right: 20px;
}

.rightColumns a {
    width: 200px;
    height: 150px;
    border-radius: inherit;
    overflow: inherit;
    position: relative;
}

.editorCover {
    margin-left: 20px;
}

.rightColumns a img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* 编辑文字 */
#editor-word {
    margin-left: 20px;
}

.editor-question-word {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    display: none;
    z-index: 10;
    display: none;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.editor-question-word textarea {
    width: 50%;
    height: 50%;
    border: none;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.editor-question-word div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.editor-question-word div a {
    padding: 10px 25px;
    background: #37C6C0;
    color: #34352C;
    border-radius: 5px;
    font-size: 14px;
}

/* 加载动画 */
.Load-animated {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    overflow: hidden;
}

.spinner {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #e0e0eb;
}

.spinnerTwo:before {
    position: absolute;
    top: 30px;
    left: 27.5px;
    content: "";
    height: 35px;
    width: 5px;
    background-color: #535657;
    transform-origin: 50% 0%;
    border-radius: 8px;
    animation: clockmin 2s linear infinite;
}

.spinnerTwo:after {
    position: absolute;
    content: "";
    height: 35px;
    width: 2px;
    top: 30px;
    left: 29px;
    transform-origin: 50% 0%;
    background-color: #D1462F;
    border-radius: 2px;
    animation: clocksec 0.5s linear infinite;
}

.spinnerTwo span {
    position: absolute;
    top: 10px;
    left: 27.5px;
    height: 20px;
    width: 5px;
    border-radius: 2px;
    background: #535657;
    transform-origin: 50% 100%;
    animation: clockhour 10s linear infinite;
}

@keyframes clockhour {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes clockmin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes clocksec {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}