.column {
    margin-top: 100px;
    padding-top: 50px;
    font-size: 45px;
    color: #1A2D27;
}

.column .teach {
    text-align: center;
    padding-bottom: 50px;
}

.containMuch {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
}

.MuchSame {
    width: calc(30% - 30px);
    padding: 25px 15px;
    margin: 0 1.6666666666666666666%;
    background: rgba(85, 85, 85, .1);
    border-radius: 5px;
    transition: all .5s ease;
    margin-bottom: 30px;
}

.MuchSameSpan {
    width: 100%;
    display: flex;
    justify-content: center;
}

.MuchSameSpan img {
    width: 100%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.MuchSame h4 {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #1A2D27;
    padding: 10px 0;
    width: 100%;
}

.MuchSame .testText {
    font-size: 12px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    color: #000;
    padding-bottom: 10px;
    min-height: 50px;
}

.MuchSame a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.replaceA {
    padding: 10px 15px;
    font-size: 15px;
    background: #AAB8A3;
    color: #fff;
    border-radius: 5px;
    transition: all .3s ease;
}

.replaceA:hover {
    background: #C1194E;
}

.MuchSame hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(153, 153, 153, .2);
}

.bottomDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #34352C;
}

.bottomDiv span,
.bottomDiv p {
    font-size: 14px;
    color: #FF5983;
}