body {
    position: relative;
}

#main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

@media(max-width:1550px) {
    .list {
        width: 80%;
    }
}

.module_scene,
.module_news,
.module_hall,
.module_ans_que {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 150px 0 0 0;
}

.module_scene,
.module_news {
    justify-content: flex-start;
}

.module_scene .same_module,
.module_news .same_module {
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
}

.module_scene div,
.module_news div {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.module_scene .contain_a,
.module_news .contain_a,
.module_hall .contain_a,
.module_ans_que .contain_a {
    width: 100%;
    box-shadow: none;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.module_scene a,
.module_news a {
    width: 100%;
    display: block;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.module_scene .contain_span,
.module_news .contain_span,
.module_hall .contain_span,
.module_ans_que .contain_span {
    width: 150px;
    height: inherit;
    overflow: inherit;
    border-radius: inherit;
}

.module_ans_que {
    position: relative;
}

.module_scene img,
.module_news img {
    width: 100%;
    transition: all .5s;
}

.module_scene .change_circle,
.module_news .change_circle,
.module_hall .change_circle,
.module_ans_que .change_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 60px;
    height: 60px;
    background: #3B200C;
    color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

.change_circle .iconfont {
    margin-left: 10px;
    transition: all .5s;
}

.module_scene .contain_span:hover .iconfont,
.module_news .contain_span:hover .iconfont,
.module_hall .contain_span:hover .iconfont,
.module_ans_que .contain_span:hover .iconfont {
    margin-left: 20px;
}

.module_scene p,
.module_news p,
.module_hall p,
.module_ans_que p {
    width: 100%;
    color: #3B200C;
    font-size: 25px;
    padding-bottom: 50px;
}

.module_ans_que p:nth-of-type(2) {
    margin-top: 120px;
}

.mask {
    position: fixed;
    left: 0px;
    z-index: 999;
}

.mask::before,
.mask::after {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .5s;
    z-index: 7;
}

.mask::after {
    position: absolute;
    background: #000;
    z-index: 8;
    transition: inherit;
}

.change::before {
    opacity: 0;
}

.mask a {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3B200C;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.mask a .iconfont {
    color: #fff;
    font-size: 18px;
    transition: all .5s;
}

.mask a:hover .iconfont {
    transform: rotateZ(225deg);
}

.img_cut {
    width: 700px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.autoGet {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contain_other {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.layui-layer-resize {
    display: none;
}

.layui-layer-btn a {
    height: 26px !important;
    line-height: 26px !important;
    padding: 0px 10px !important;
    font-size: 12px;
}

/* 视频 */
.ContainerOutVideo {
    width: 55%;
}
.dplayer-bar-wrap {
    bottom: inherit;
    top: -15px;
}
.dplayer-controller {
    padding-bottom: 5px;
}
.dplayer-controller .dplayer-icons {
    bottom: inherit;
    top: 0;
}
.dplayer.dplayer-hide-controller .dplayer-controller,
.dplayer.dplayer-hide-controller .dplayer-controller-mask {
    transform: translateY(calc(100% + 15px));
}