html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

::selection {
    background: #f45154;
    color: #fff;
}

::-moz-selection {
    background: #f45154;
    color: #fff;
}

#main {
    width: 100%;
    height: 100%;
}

.preset {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.presetFirstP {
    padding-bottom: 80px;
    font-size: 45px;
    color: #376956;
}

.InsertPreset {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Form {
    display: flex;
    justify-content: center;
    padding-right: 200px;
}

.Form form span {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.Form span input {
    padding: 15px;
    background: #d0d1d0;
    border: none;
    outline: none;
    width: 300px;
    height: 30px;
    color: #aaa;
    font-size: 15px;
    transition: all .2s ease;
    border: 2px solid transparent;
}

.Form div {
    position: relative;
}

.Form label {
    width: calc(100% - 50px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    /* top: -25px; */
    top: calc(50% - 10px);
    transform: translateY(-50%);
    transition: all .2s ease;
    padding: 0 25px;
    cursor: text;
    color: #8b8c8b;
    font-size: 15px;
}

/* .Newpreview {} */

.Form span #replaceImg,
.Form span .editArticle {
    padding: 10px 20px;
    background: #363636;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    transition: all .3s linear;
}

.Form span #replaceImg,
.Form span .editArticle {
    background: #1b1b1b;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, .5);
}

.Newpreview .cutImg {
    width: 250px;
    height: 200px;
    border: 1px solid #d0d1d0;
    transition: all .3s ease;
}

.Newpreview .cutInsertImg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.Newpreview p {
    color: #376956;
    font-size: 15px;
    padding-bottom: 20px;
}

/* 下拉列表 */
.SelectList {
    width: 100%;
    list-style: none;
    position: relative;
}

.SelectList ul {
    list-style: none;
}

.SelectList a {
    width: calc(100% - 50px);
    padding: 15px 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #d0d1d0;
    color: #8b8c8b;
}

.SelectList .FirstEditorArticle {
    padding: 21.5px 25px;
}

.SelectList .iconfont {
    padding-right: 10px;
}

.MoveTop {
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all .5s ease;
}

.MoveTop a:hover {
    color: #376956;
}

.MoveTop a {
    padding: 10px 25px;
}