#main {
    background: url(../img/wall.png);
}

.OldStyle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-top: 100px;
    flex-wrap: wrap;
}

.hang {
    position: relative;
}

.hang .wood,
.hang .LogoImg {
    display: block;
}

.hang .wood img {
    width: 250px;
}

.hang .LogoImg img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.hang .LogoImg {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.outerRecommed {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.recommed_topic {
    margin: 0;
    width: 80%;
}

.recommed_topic .recommedOuter {
    margin: 0;
    box-shadow: none;
    width: 22%;
    padding: 0 1.5%;
    position: relative;
    margin-bottom: 30px;
    float: left;
    transition: all .3s ease;
}
@media (max-width:1800px) {
    .recommed_topic .recommedOuter {
        width: 30%;
        padding: 0 1.666666666666%;
    }
}
@media(max-width:1300px) {
    .recommed_topic .recommedOuter {
        width: 45%;
        padding: 0 2.5%;
    }
}

.recommed_topic .InRecommed {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recommed_topic .issue {
    background: #fff;
}

.recommed_topic img {
    width: 100%;
    height: auto;
}

.recommed_topic .InRecommed img {
    width: 200px;
    height: 200px;
}