.contain_video {
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

video {
    width: 100%;
    cursor: pointer;
}

.control_bar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0px;
    background: #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .3s linear;
    opacity: 0;
    bottom: -40px;
}

.control_bar p {
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    width: 75px;
    height: 24px;
    border-radius: 5px;
}

.control_bar p:nth-of-type(2) {
    right: 18%;
}

.control_bar p a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    transition: all .3s linear;
}

.control_bar .close_btn_p {
    opacity: 0;
    transition: all .3s linear;
}

.control_bar p .enter_btn {
    background: #F83955;
}

.control_bar p .close_btn {
    background: #FF534D;
}

.control_bar p .enter_btn:hover {
    background: #FF0F33;
}

.control_bar p .close_btn:hover {
    background: #FA482C;
}

.hover_control {
    opacity: 1;
    bottom: -1px;
}

.control_play_pasue {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5px;
}

.control_play_pasue .iconfont {
    color: #fff;
    font-size: 16px;
}

.control_play_pasue .iconfont:nth-of-type(2) {
    display: none;
}

.progress {
    width: 80%;
    height: 10px;
    display: flex;
    align-items: center;
    margin: 0 20px 0 20px;
    cursor: pointer;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

progress {
    display: inline-block;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    transition: width .6s ease;
}

.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: linear-gradient( 45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar,
.progress-bar.active {
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-striped .progress-bar-success {
    background-image: linear-gradient( 45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
    background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
    background-image: linear-gradient( 45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
    background-image: linear-gradient( 45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-striped .progress-bar-danger {
    background-image: linear-gradient( 45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.function_btn {
    width: calc(100% - 70px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px 20px 0px 10px;
}

.function_btn span {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.function_btn .iconfont {
    font-size: 20px;
    color: #fff;
}

.screen_btn .iconfont {
    font-size: 18px !important;
}

.volumeBar {
    display: none;
    position: absolute;
    top: -110px;
    left: 16px;
    width: 26px;
    height: 100px;
    background: #f1f2f2;
    border-radius: 4px;
    cursor: pointer;
}

.volumeBar::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #f1f2f2;
}

.volumeBar .volumewrap {
    background: #a2a7aa;
    width: 8px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    left: 9px;
    border-radius: 4px;
}

.volumeBar .progress {
    background: none;
}

.volumeBar .progress-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 4px;
}

video::-webkit-media-controls {
    display: none !important;
}

.live_list {
    width: 190px;
    padding: 10px 10px 10px 10px;
    background: #fff;
    border-radius: 5px;
    background: rgba(240, 246, 247, .5);
    margin-left: 10px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    transition: all .2s linear;
}

.live_list div {
    width: 100%;
    height: 18.5%;
    background: #333;
    border-radius: 5px;
    background: url(../img/2.jpg) no-repeat;
    background-size: cover;
    background-position: 0px -15px;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 0px 2px transparent inset;
    transition: all .2s linear;
}

.live_list div::before {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .4);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .5s linear;
    /* 匀速 */
    border-radius: 5px;
    content: "";
    opacity: 1;
}

.live_list .live_hover::before {
    opacity: 0;
}

.live_list .live_two::before {
    opacity: 0;
}

.live_list div:hover {
    box-shadow: 0px 0px 0px 2px #000 inset;
}

.live_list .list {
    box-shadow: 0px 0px 0px 2px #000 inset;
}

.live_list div::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    border-right: 6px solid #000;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 0;
    transition: all .5s linear;
}

.live_list .live_after::after {
    opacity: 1;
}

.live_list div p {
    position: absolute;
    color: #000;
    font-size: 14px;
    bottom: 5px;
    left: 10px;
}

.pic {
    width: 100%;
    margin: 100px 0 0 0;
    position: relative;
    overflow: hidden;
    height: 700px;
    background: url(../reduce/1.jpg) no-repeat;
    background-size: cover;
    background-position: 0px -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* .pic input {
    display: none;
} */

.flex_box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}