.main-video-page {
    margin: 100px 0 0 0;
}

.main-video-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-content {
    width: 80%;
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-content .first-p-for-title {
    padding-left: 1%;
    width: 100%;
    color: #3B200C;
    padding-bottom: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.same_module span {
    flex-wrap: wrap;
    align-content: center;
    height: auto;
    padding: 6px 0;
}

/* 分类 */
.classification {
    width: 98%;
    padding: 0 1% 20px 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.kind-span {
    font-size: 14px;
    color: #000;
    padding-top: 2px;
}

.all-classification {
    width: calc(100% - 42px);
}

.all-classification span {
    display: inline-block;
    padding: 0 5px 8px 0;
}

.all-classification span a {
    color: #000;
    font-size: 14px;
    background: transparent;
    padding: 2px 12px;
    border-radius: 20px;
    transition: all .3s ease;
}

.all-classification span a:hover {
    color: #fff;
    background: #FF5983;
}

.all-classification span .click-hover-after {
    color: #fff;
    background: #FF5983;
}

.main-content .title-span-p {
    width: calc(100% - 20px);
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-bottom: 5px;
    color: #000;
}

.main-content .cute-name-live-people {
    width: 100%;
}

.cute-name-live-people b {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9ba3ab;
}

.cute-name-live-people b .iconfont {
    padding-right: 5px;
    font-size: 14px;
}

.cute-name-live-people b:first-child {
    width: calc(50% - 10px);
    padding-left: 10px;
}

.cute-name-live-people b:last-child {
    text-align: center;
}

.main-content .same_module {
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin-bottom: 30px;
}

.main-content .same_module a {
    width: 100%;
    height: 138.234px;
    transition: all .5s ease;
    display: block;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50%;
}