video {
    cursor: pointer;
}

.live_list {
    width: 210px;
    height: 621px;
    padding: 0 10px;
    background: #fff;
    border-radius: 5px;
    background: rgba(240, 246, 247, .5);
    margin-left: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    transition: all .3s ease;
}

/*当视频加载发生错误时*/
.video-loading-error {
    width: 180px;
    height: 540px;
}

.live_list div {
    width: 100%;
    height: 105px;
    background: #333;
    border-radius: 5px;
    background: url(../img/15.jpg) no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 0px 2px transparent inset;
    transition: all .2s ease;
    margin-bottom: 17px;
}

.live_list div:last-child {
    margin: 0;
}

.live_list div::before {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .4);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .5s ease;
    /* 匀速 */
    border-radius: 5px;
    content: "";
    opacity: 1;
}

/* 当视频加载发生错误时 */
.video-loading-error div {
    height: 90px;
}

.live_list .live_hover::before {
    opacity: 0;
}

.live_list .live_hover p {
    opacity: 0;
}

.live_list .live_two::before {
    opacity: 0;
}

.live_list div:hover {
    box-shadow: 0px 0px 0px 2px #000 inset;
}

.live_list .list {
    box-shadow: 0px 0px 0px 2px #000 inset;
}

.live_list div::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    border-right: 6px solid #000;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 0;
    transition: all .5s ease;
}

.live_list .live_after::after {
    opacity: 1;
}

.live_list .live_after p {
    opacity: 0;
}

.live_list div p {
    position: absolute;
    color: #000;
    font-size: 14px;
    bottom: 5px;
    left: 10px;
    transition: all .3s ease;
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pic {
    width: 100%;
    margin: 100px 0 0 0;
    position: relative;
    overflow: hidden;
    background: url(../reduce/1.jpg) no-repeat;
    background-size: cover;
    background-position: 0px -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 50px 0;
}

.flex_box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}