body {
    margin: 0;
}

.input_Time {
    outline: none;
    border: none;
    width: 100%;
    height: 80px;
    font-size: 30px;
    color: #595959;
    padding-left: 40px !important;
    box-shadow: 0px 1px 0px #D9D9D9;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.insertA {
    color: #3B200C;
    font-size: 16px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.w-e-panel-container {
    width: 400px;
}

.w-e-panel-container h4 {
    font-size: 22px;
    padding: 20px 20px 50px 20px;
    text-align: center;
}

@media (max-width:750px) {
    #bottom_content {
        width: 95% !important;
    }
}

.close_top_div {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.close_top_div a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    transition: all .3s;
}

.close_top_div a:hover {
    color: #3B200C;
}

.close_top_div i {
    font-size: 20px;
}

.w-e-item-inserta {
    color: #3B200C;
}

.w-e-menu a {
    padding: 15px 18px;
    display: block;
    background: #fff;
    color: #595959;
    transition: all .5s;
}

.w-e-menu a:hover {
    background: #595959;
    color: #f2f2f2;
}

.w-e-droplist h1,
.w-e-droplist h2,
.w-e-droplist h3,
.w-e-droplist h4,
.w-e-droplist h5,
.w-e-droplist p {
    text-align: center;
    cursor: pointer;
}

blockquote p {
    margin: 0px !important;
}

blockquote span,
blockquote p,
blockquote b,
blockquote a,
blockquote i,
blockquote pre,
blockquote code,
blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6,
blockquote ul,
blockquote ol,
blockquote li,
blockquote dt,
blockquote dd,
blockquote strong,
blockquote em,
blockquote ins,
blockquote del,
blockquote p,
blockquote script,
blockquote sup,
blockquote sub,
blockquote u,
blockquote map,
blockquote tr,
blockquote td,
blockquote tbody,
blockquote table,
blockquote caption,
blockquote th,
blockquote form,
blockquote input,
blockquote textarea,
blockquote select,
blockquote label,
blockquote nav,
blockquote article,
blockquote header,
blockquote section,
blockquote aside,
blockquote hgroup,
blockquote figure,
blockquote figcaption,
blockquote footer,
blockquote dialog,
blockquote video,
blockquote canvas,
blockquote embed,
blockquote menu,
blockquote meter,
blockquote progress,
blockquote ruby,
blockquote rp,
blockquote rt,
blockquote address,
blockquote audio,
blockquote small,
blockquote summary {
    background: transparent !important;
}

@font-face {
    font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_757859_rer5d7136n.eot?t=1532397930307');
    /* IE9*/
    src: url('//at.alicdn.com/t/font_757859_rer5d7136n.eot?t=1532397930307#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAYAAAsAAAAACHwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW7kvBY21hcAAAAYAAAAByAAABshF2105nbHlmAAAB9AAAAgEAAAIgp/1HRGhlYWQAAAP4AAAALwAAADYSGJjQaGhlYQAABCgAAAAcAAAAJAfeA4ZobXR4AAAERAAAABMAAAAUE+kAAGxvY2EAAARYAAAADAAAAAwBagHWbWF4cAAABGQAAAAeAAAAIAEUAF1uYW1lAAAEhAAAAUUAAAJtPlT+fXBvc3QAAAXMAAAAMQAAAEKETvJteJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/s04gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVLy8wtzwv4EhhrmBoQEozAiSAwA0TQ1GeJzFkLENgDAMBM8EEEK0TEDLEAxERcWgzIDIFOETU8AEvHWR/bLlyEADBDGLGmzDyFrlWvEDffFrFtU9HZViP6drjEdK8t65y9TnkfNKs9phLb/J/lv91VDe5al0cfYHffGcHF2Ma3RyTzwcwg0f4RegAAB4nDWPTWsTURSG77k3cyeT+UgzM5mvZJLMJJmr5KNkkk7EmgzUD1AElS6KkoABV4Ii0lJoFYqgVCjoH3ATBDfduXFRd+5EcKE/QNqNKP4B29FZ6DkvL7yL8/IcxCH05xs5IBbS0CnUQxfQdYSAtsBXsAseG3RxC4oeVzR1hbA68/i63yUjMH2qG2E0CEzK0zwoUIG+F0asixksDcZ4GULDBbBLzqraLKvkJeQsVnmaXMFzKFbr5fy4k1xux3pY07KbkqraqrqXpRyXxTiTV+CeaQickKPJay7vFA+qp3EVJJs5V2/KtZI62x3cd5umALCzA1qppryJC04h1SPH0FSbX5CzliPXGzpsHomWJrnBIUoH0l+/kuekjRbT0AU+pf3PPgyjRYgMswI8DVjAotR8nhpmuplhhIk6+fGgQRcci79DsWzIXxxH9tbeXprC5PbxrG0CLci+rIqkvLIN8dY64Me3Wt2RmKN58aNoG6LUMc94jYuz37MJTDsRuLokGXVYPb+BN7ZgnPLhlO89eUhWkI4shJqm0Q+HAYOAUR5oUe+HMdb6Gv4cCe0exwnJd/1sZCe/lF5bWPb3M/tP5j7TfXwYc1x84vo68+dTOErK/7o/ZBA5hziURagDAjQFWDLJKHkGN5JryasMOnm3vbYOe8mLu/DzePeTn579Bc9vY+oAAAB4nGNgZGBgAOKvdUdd4vltvjJwszCAwPWaVVkI+v9eFgZmJyCXg4EJJAoASD0LCgB4nGNgZGBgbvjfwBDDwgACQJKRARWwAgBHCwJueJxjYWBgYH7JwMDCgMAADpsA/QAAAAAAAHYAxgD0ARB4nGNgZGBgYGUIBGIQYAJiLiBkYPgP5jMAABEtAXIAAHicZY9NTsMwEIVf+gekEqqoYIfkBWIBKP0Rq25YVGr3XXTfpk6bKokjx63UA3AejsAJOALcgDvwSCebNpbH37x5Y08A3OAHHo7fLfeRPVwyO3INF7gXrlN/EG6QX4SbaONVuEX9TdjHM6bCbXRheYPXuGL2hHdhDx18CNdwjU/hOvUv4Qb5W7iJO/wKt9Dx6sI+5l5XuI1HL/bHVi+cXqnlQcWhySKTOb+CmV7vkoWt0uqca1vEJlODoF9JU51pW91T7NdD5yIVWZOqCas6SYzKrdnq0AUb5/JRrxeJHoQm5Vhj/rbGAo5xBYUlDowxQhhkiMro6DtVZvSvsUPCXntWPc3ndFsU1P9zhQEC9M9cU7qy0nk6T4E9XxtSdXQrbsuelDSRXs1JErJCXta2VELqATZlV44RelzRiT8oZ0j/AAlabsgAAAB4nGNgYoAALgbsgJWRiZGZkYWRlZGNgbGCszQvJV83Ob+gktGRJS0xqZSBAQBMOAYvAAAA') format('woff'), url('//at.alicdn.com/t/font_757859_rer5d7136n.ttf?t=1532397930307') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_757859_rer5d7136n.svg?t=1532397930307#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-undo-copy:before {
    content: "\e623";
}

.icon-A:before {
    content: "\e9d4";
}

.icon-fabu:before {
    content: "\e815";
}

.prompt {
    border-radius: 5px;
    padding: 6px 10px !important;
    background: #595959;
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 9;
    color: #fff;
    transition: all .3s ease-out;
    transform: translateX(-50%) scale(0);
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
}

.prompt::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #595959;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}

h1 a {
    font-size: 26px !important;
}

h2 a {
    font-size: 24px !important;
}

h3 a {
    font-size: 22px !important;
}

h4 a {
    font-size: 20px !important;
}

h5 a {
    font-size: 18px !important;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0 !important;
    margin-bottom: 25px !important;
}

.insertImg {
    display: block;
    margin: 0px auto 20px auto !important;
}

.publish_A,
.cancel_A {
    position: absolute;
    right: 0px;
    height: 100%;
    background: transparent;
    color: #595959;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px !important;
    margin-right: 10px !important;
}

.cancel_A {
    right: 88px;
    margin: 0 !important;
    display: none;
}

.publish_A:hover,
.cancel_A:hover {
    background: #595955;
    color: #f2f2f2;
}

.publish_A .iconfont {
    margin-right: 15px;
}

.cancel_A .iconfont {
    margin-right: 5px;
}

iframe {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.w-e-droplist .w-e-list .w-e-item h1,
.w-e-droplist .w-e-list .w-e-item h2,
.w-e-droplist .w-e-list .w-e-item h3,
.w-e-droplist .w-e-list .w-e-item h4,
.w-e-droplist .w-e-list .w-e-item h5,
.w-e-droplist .w-e-list .w-e-item p {
    margin: 0 !important;
}

@media(width:1024px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        margin: 0 !important;
        margin-bottom: 15px !important;
    }
}