<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <title>问道</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/same.css">
    <link rel="stylesheet" href="../css/WangEditor.css">
    <link rel="stylesheet" href="../css/share.min.css">
    <link rel="stylesheet" href="../css/article.css">
</head>

<body>
    <div id="main">
        <div class="title">
            <div class="logo">
            </div>
            <!-- logo -->
            <div class="list">
                <ul class="left_list">
                    <li>
                        <a href="index.html" target="_blank">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">名师讲堂</a>
                    </li>
                    <li>
                        <a href="javascript:;">视频教学</a>
                    </li>
                    <li>
                        <a href="javascript:;">经典教文</a>
                    </li>
                    <li>
                        <a href="javascript:;">议题大会</a>
                    </li>
                    <li class="same_li">
                        <a href="map.html" title="定位" target="_blank">
                            <i class="iconfont location">&#xe613;</i>
                        </a>
                    </li>
                    <li class="same_li searchLi">
                        <form>
                            <input type="text" placeholder="搜索" class="InputTextBtn">
                            <a href="javascript:;" title="搜索" class="search_special">
                                <i class="iconfont search">&#xe63c;</i>
                            </a>
                        </form>
                    </li>
                    <li class="same_li last_li">
                        <!-- <a href="javascript:;" id="login_a">登录</a>
                                        <a href="javascript:;" id="register_a">注册</a> -->
                        <!-- 登录前 -->
                        <div class="location_div_a">
                            <a href="../html/personalCenter.html" class="photo_cicle" target="_blank">
                                <img src="../img/10.jpg">
                            </a>
                            <div class="msg_index_dance">
                                进入个人中心
                            </div>
                        </div>
                        <div class="editor_article">
                            <a href="RichEditor.html" target="_blank">
                                <span>
                                    <i class="iconfont">&#xe645;</i>
                                </span>
                                写文章
                            </a>
                        </div>
                        <!-- 登陆后 -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="Article">
            <div class="w-e-text">
                <div id="userInformation">
                    <a href="javascript:;" class="photoIMg">
                        <img src="../img/11.jpg">
                    </a>
                    <div class="right_message">
                        <div class="top_message">
                            <a href="javascript:;" class="userName">
                                浪浪于江湖
                            </a>
                            <a href="javascript:;" class="focus">
                                <i class="iconfont">&#xe604;</i>
                                <span>关注</span>
                            </a>
                        </div>
                        <div class="bottom_message" data-title="该文章编辑于2018/7/25">
                            <span class="sameSpanB timeBar">2018/7/25</span>
                            <span class="sameSpanB">字数3333</span>
                            <span class="sameSpanB">阅读1531</span>
                            <span class="sameSpanB">评论16</span>
                            <span class="sameSpanB">喜欢36</span>
                        </div>
                    </div>
                </div>
                <div id="ContainEditor">
                    <h1>上大学后，我一直坚持的三件事情</h1>
                    <p>
                        <img class="insertImg" src="https://upload-images.jianshu.io/upload_images/1867420-ec5bd2eb2e86751f.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/610"
                            style="max-width:100%;">
                    </p>
                    <p>我是一个比较随意的人，对很多事情都做不到自律，唯独保持身材、坚持护肤、坚持看书这三件事情，我坚持了很多年。
                        <br>
                    </p>
                    <blockquote>
                        <b>保持身材</b>
                        <br>
                    </blockquote>
                    <p>在上大学之前，我一直都是瘦子，体重不超90，在那之前，我以为我是吃不胖的那类人。但是，万万没想到的是，到了大学后，我居然胖了，而且是胖得差点连我妈都认不出了，胖得连我自己都嫌弃自己了，那时候的我是真自卑。</p>
                    <p>因为刚上大学，学习压力没那么大了，身体突然轻松下来了，主要也是自己没有好好学习。每天吃饱了，就窝在宿舍看电影，看小说，三个月后我胖了5斤，一个学期结束后，我胖了10斤，而且一直只增不减，直线上升。更残酷的是在自己很胖的时候，暗恋上了一个帅小伙，胖子是没有春天的，我连站在他面前的勇气都没有，最终只能以失败告终。</p>
                    <p>我看着镜子里的自己，圆呼呼的脸蛋，嫌弃地想把镜子摔碎。我发誓要减肥，首先从吃开始抓起，管不住自己的嘴，怎么能控制自己的体重，每吃一次高热度零食都会转化为身体的脂肪。开始合理饮食，每天按时吃饭，每次只吃到6分饱，再好吃也不能吃多。很少吃零食，大学里我吃过的泡面次数不超10次，夜宵几乎不吃，因为吃夜宵更容易胖。坚持自己去打饭，算是多运动，每次吃饱饭后，坚持站半小时再坐下，或是到隔壁宿舍转悠，吹牛逼。</p>
                    <p>第二个是抓睡眠，我开始早睡早起，学校是晚上11点断网，断网后刷牙洗脸后就上床睡觉。而宿舍的妹子还在看电视，在断网前把电视下载到电脑里，有时候我也睡不着，但我就是躺在床上，啥事也不干。</p>
                    <p>开始早起，偶尔也睡懒觉。我是宿舍第二个起床的，因为第一个早起的是阿毛，其实我也不知道阿毛到底是几点起床的，每次我起来的时候，她的床铺都是空的，被子叠得整整齐齐的。所以，人家是学霸拿奖学金，真的不要羡慕，别人付出真的很多。我现在很相信一句话“
                        <b>你的时间花在什么地方，你就成为什么样的人</b>”。</p>
                    <p>虽然我每天早起，但是我没有像阿毛那样去图书馆学习，或是去松树林读英语，我就在宿舍看小说，因此，我只能是学渣。等舍友们都起床了，我就开始在宿舍转悠，或是到隔壁宿舍转悠，我发现我真的很闲，但又没有好好学习。</p>
                    <p>我是一个不爱运动的人，即使在减肥的时候，我也没有去跑步，而是每天约不同的小伙伴去跑道散步，就是沿着跑道走，不停地走直到走累了就回宿舍。菊同学就是被我拉到跑道最多的人，她每次都陪我，重点是她也想减肥，也同样不喜欢运动。最后我瘦下来，但是她依然没有瘦，她都恨死我了，因为她的体质就是那样，很难瘦的那种。当然，她也不是很胖，算是正常那种，但是女生永远都想追求更瘦。</p>
                    <p>对于这些小习惯，我坚持了1年多，我没有刻意地去绝食，也没有天天去称体重，今天瘦0.5，明天又重1斤之类。更没有在朋友圈天天喊着要减肥，
                        <b>因为真正减肥的人，从来都是悄无声息的</b>。大二的时候，要考体能测试，有一项是称体重，我居然94斤了，天呐，我做梦都没有想到，我居然不知不觉就瘦下来了。</p>
                    <p>后来，我的体重几乎保持在95之下，一般在92左右，我给自己设了一条线，如果体重超了95就要慎重，时刻保持要减肥。做女生的很不容易，一辈子都在怕胖，我就是这样，因为胖过，我知道胖后是多么麻烦，很多衣服都穿不了，瘦的时候穿什么都好看，衣服可以随便买，S码，M码都可以随意穿。还可以穿各种漂亮的裙子，虽然我不是很喜欢穿裙子，但还是希望女孩子们多穿漂亮的裙子，让你显得更漂亮、有气质。</p>
                    <p>也许你觉得好像我很容易就减下来了，其实一点都不容易，以上说的任何一项都很难坚持，不吃零食，不吃夜宵，吃饱饭后站半小时，早睡早起等。我有个朋友也想减肥，我告诉她，中午吃饱饭后先站20-30分钟再睡觉，可是她才坚持了三天就做不到了，她说中午太困了，吃饱饭就直接想睡觉了。不过减肥也要看运气，像我可能就是运气好一点吧。</p>
                    <blockquote>
                        <b>坚持护肤</b>
                        <br>
                    </blockquote>
                    <p>我大概是大三的时候才开始坚持敷面膜的，主要是大三之前没有什么钱，后来去做兼职赚来的钱都用来买面膜了。大学的时候，一般是一周敷三次面膜，每周都坚持敷三次。</p>
                    <p>毕业后，有了自己的工作，终于可以靠自己赚钱了。刚出来的时候工资不高，衣服我很少买，化妆品也很少买，但是买面膜、护肤品的钱却不能省。随着年龄慢慢增长，脸上的胶原蛋白流失，我不能一周敷三次了，而是基本每天都敷面膜。即使工作再忙，自己再累，每天晚上都坚持敷了面膜再睡觉。</p>
                    <p>青春易逝，如果不好好保护，一旦脸上长满了皱纹，皮肤也松垮了，那时候才开始想着保养，已经追悔莫及了。我相信敷面膜有效果，敷和不敷的区别真的很大，以我敷面膜这么多年的经验来看。敷面膜要坚持，别只敷了几次就想着美白、保湿、补水，如果那么容易就达到效果，这世界上就没有那么多人去整容了。</p>
                    <p>“女为悦己者容”，我每天坚持敷面膜，保养皮肤，不是为了谁，也不是想给谁看，而是为了自己开心。我希望你也是一样，懂得好好爱自己，好好保养自己，让青春更长久一些。面膜也不用买多贵的，合适自己肤质的就好，买面膜的钱还真不能省。</p>
                    <p>你可以不化妆，但是脸上要保持干干净净的，如果可以的话，还是给自己涂一点口红，口红可以让你显得更年经有活力。据说，有人专门做过调查，
                        <b>女人涂口红的时候会比不涂口红时每天多笑三次</b>，所以出门的时候还是给自己涂上最喜欢的口红吧。除了坚持敷面膜外，你还需要二三支颜色不一样的口红。</p>
                    <blockquote>
                        <b>坚持看书</b>
                        <br>
                    </blockquote>
                    <p>读大学以前，我不是爱看书的那类同学，上大学后时间宽裕了许多，我开始迷上了看小说，看各种类型的小说，爱情小说，修仙小说，武侠小说等等，其中爱情小说看最多。因为又没钱买书，就只能在网上下载TXT文档到手机了，那时候还没有智能手机，是那种山寨版的按键手机，我竟然看得津津有味。</p>
                    <p>关键我看书还看得很慢，
                        <b>处女座的我是不会错过任何一个情节的</b>，还记得当时看《诛仙》，我居然看了半个多月才看完，咳，当时不知道流了多少眼泪。《诛仙》是我看过第一部最长的小说，所以印象非常深刻。</p>
                    <p>大学的时候，我就把张小娴，张爱玲，亦舒，三毛，饶雪漫，顾漫，明晓溪等作家的大部分爱情小说都看过了。当时我最喜欢的是张小娴，饶雪漫的爱情小说，张爱玲的小说那会我看得不是很懂，只是觉得里面的爱情都很悲凉，估计哪会我还年轻体会不到，只有饶雪漫这种青春爱情小说才符合我当时的调调吧。</p>
                    <p>但是，我现在居然爱上了张爱玲和萧红，萧红的作品并不多，红颜薄命呐，否则今天应该有很多她留下的著作。她们两个的小说写得是真好，特别是张爱玲的小说，她独特的风格，独特的手法，独创一派的张爱玲体，直至今天还无人能模仿她，更是无人能超越她。</p>
                    <p>再者应该是古龙的武侠小说了，当初上课都在看《小李飞刀》、《楚留香传奇》、《陆小凤传奇》、《孤星传》等等，比起金庸我比较喜欢古龙，虽然我不爱喝酒，可是我却喜欢古龙描写的江湖，大口喝酒，大口吃肉的剑客，还有里面的美女。古龙很懂女人，也很懂爱情，他喜欢聊女人，特别是漂亮的女人。他笔下的女人几乎都是美女，林诗音、林仙儿、白飞飞、朱七七、苏蓉蓉、石观音、孙秀青等等。</p>
                    <p>古龙创作了一种新的小说手法，以短句为主，这是一种空前的写法，俗称古龙体。古龙的武侠不仅写喝酒，聊女人，还富含很多哲学道理，他描写的主人公一般都是弘扬一种正义以及真善美。</p>
                    <p>古龙的小说真的有很多，我还有很多没看过，有时间还是想把他的所有作品看完，还有金庸先生的作品，他们的武侠我都很喜欢。没看过的同学可以去看看，到时候千万不要说是我带你入坑的啊，哈哈哈哈哈。</p>
                    <p>现在有了工作,也算有了一些小钱，虽然买不起房车，但是买书的钱总算是有了。现在看到喜欢的书，我会毫不犹豫地买下来，下班后有时间就拿书出来看看，生活也是挺不错的，有书看生活似乎就美好了许多。我看书看得比较慢，所以上次当当网满600-300买的书，我还没有看完，还有好几本呢，还可以看到双十一。</p>
                    <p>我发现看的书越多就会越喜欢看书，而且看的类型也会丰富起来，以前我只喜欢看爱情小说，因为只有这种书我才看得下去，现在我可以看嫌疑小说，武侠，散文，名著经典等等。越看书发现自己懂得东西越少，发现自己越渺小，就更有动力去看书。我看的书算比较少的，看我写的文章就知道了，别人写文章都是满腹经纶的，引经据典的，我就没有那个文采，所以还是要多看书啊。</p>
                    <p>像我这么懒散的人，这些年来也唯有这三样能坚持下去，如果一定还要加上一样，那就是坚持赚钱，自己赚来的钱就是好。
                        <b>女孩们还是要有钱，就算哪天老了，那也是一个富有的老姑娘，愿我们都成为富有的老姑娘。</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="ContentShare">
            <div class="circle" list-title="分享菜单,可移动">
                <span class="listTop"></span>
                <span class="listTop"></span>
                <span class="listTop"></span>
            </div>
            <div class="social-share" data-initialized="true">
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-weibo">
                    <i class="iconfont">&#xe658;</i>
                </a>
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-qq">
                    <i class="iconfont">&#xe601;</i>
                </a>
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-wechat qrCode">
                    <i class="iconfont">&#xe628;</i>
                </a>
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-douban">
                    <i class="iconfont">&#xe630;</i>
                </a>
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-qzone">
                    <i class="iconfont">&#xe6d3;</i>
                </a>
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-linkedin">
                    <i class="iconfont">&#xe648;</i>
                </a>
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-diandian">
                    <i class="iconfont">&#xe687;</i>
                </a>
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-facebook">
                    <i class="iconfont">&#xe605;</i>
                </a>
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-twitter">
                    <i class="iconfont">&#xe68b;</i>
                </a>
                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-google">
                    <i class="iconfont">&#xe643;</i>
                </a>
            </div>
        </div>
        <div class="collectAlike">
            <div class="TwoPart">
                <a href="javascript:;">
                    <i class="iconfont">&#xe606;</i>
                    <span class="numCount"></span>
                </a>
                <a href="javascript:;">
                    <i class="iconfont">&#xe63d;</i>
                    <span>收藏</span>
                </a>
            </div>
        </div>
        <div class="comments">
            <div class="CanEdit">
                <div class="commentsArea">
                    <a href="javascript:;" class="PhotoImg">
                        <img src="../img/11.jpg">
                    </a>
                    <div class="NewEditor">
                        <div id="top_list" class="toolbar" style="width:100%;background: #fff;border-bottom: 1px solid #DDD;"></div>
                        <div id="bottom_content" class="user_edit" style="width:100%;height:200px;display: flex;justify-content: center;align-content: center;flex-wrap:wrap;background:#fff;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="commentsDetail">
            <div class="containContent">
                <p class="commentsNum">
                    <span>0</span>
                    条评论
                </p>
                <ul class="commentsList">
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>© Copyright 2018. Powered by DXstudio. All rights reserved.</p>
        </div>
        <div class="toTop">
            <a href="javascript:;" class="GoTop" title="回到顶部">
                <img src="../img/3.png">
            </a>
        </div>
    </div>
    <iframe src="particles.html" id="particles"></iframe>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/social-share.min.js"></script>
    <script src="../js/jquery.qrcode.js"></script>
    <script src="../layui/layer.js"></script>
    <script src="../js/jquery.nicescroll.min.js"></script>
    <script src="../js/same.js"></script>
    <script src="../wangEditor/wangEditor.min.js"></script>
    <script src="../js/article.js"></script>
</body>

</html>