<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <title>问道</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/same.css">
    <link rel="stylesheet" href="../DPlayer/DPlayer.min.css">
    <link rel="stylesheet" href="../css/VideoPlay.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="main">
        <div class="title">
            <div class="logo">
            </div>
            <!-- logo -->
            <div class="list">
                <ul class="left_list">
                    <li>
                        <a href="javascript:;">首页</a>
                    </li>
                    <li>
                        <a href="live-main.html" target="_blank">名师讲堂</a>
                    </li>
                    <li>
                        <a href="video-main.html" target="_blank">视频教学</a>
                    </li>
                    <li>
                        <a href="articlePage.html" target="_blank">经典教文</a>
                    </li>
                    <li>
                        <a href="topic.html" target="_blank">议题大会</a>
                    </li>
                    <li class="same_li">
                        <a href="map.html" title="定位" target="_blank">
                            <i class="iconfont location">&#xe613;</i>
                        </a>
                    </li>
                    <li class="same_li searchLi">
                        <form>
                            <input type="text" placeholder="搜索" class="InputTextBtn">
                            <a href="javascript:;" title="搜索" class="search_special">
                                <i class="iconfont search">&#xe63c;</i>
                            </a>
                        </form>
                    </li>
                    <li class="same_li last_li">
                        <a href="javascript:;" id="login_a">登录</a>
                        <a href="javascript:;" id="register_a">注册</a>
                        <!-- 登录前 -->
                        <!-- <div class="location_div_a">
                            <a href="personalCenter.html" class="photo_cicle" target="_blank">
                                <img src="../img/10.jpg">
                            </a>
                            <div class="msg_index_dance">
                                进入个人中心
                            </div>
                        </div>
                        <div class="editor_article">
                            <a href="preset.html" target="_blank">
                                <span>
                                    <i class="iconfont">&#xe645;</i>
                                </span>
                                写文章
                            </a>
                        </div> -->
                        <!-- 登陆后 -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="pic">
            <div class="flex_box">
                <div class="ContainerOutVideo">
                    <div id="DPlayerVideo"></div>
                </div>
                <!-- 视频 -->
                <div class="live_list">
                    <div data-url="http://pdc3kp6os.bkt.clouddn.com/Soda1.mp4">
                        <p>MV -- DJ-Soda</p>
                    </div>
                    <div data-url="http://pdc3kp6os.bkt.clouddn.com/Soda2.mp4">
                        <p>MV -- DJ-Soda</p>
                    </div>
                    <div data-url="http://pdc3kp6os.bkt.clouddn.com/Soda3.mp4">
                        <p>MV -- DJ-Soda</p>
                    </div>
                    <div data-url="http://pdc3kp6os.bkt.clouddn.com/Soda4.mp4">
                        <p>MV -- DJ-Soda</p>
                    </div>
                    <div data-url="http://pdc3kp6os.bkt.clouddn.com/Soda5.mp4">
                        <p>MV -- DJ-Soda</p>
                    </div>
                </div>
                <!-- <input type="button"> -->
            </div>
        </div>
        <!-- 大块直播 -->
        <div class="module_scene">
            <p>热门讲堂</p>
        </div>
        <div class="module_news">
            <p>热门视频</p>
        </div>
        <div class="module_hall">
            <p>热门教文</p>
            <div class="contain_other"></div>
        </div>
        <div class="module_ans_que">
            <!-- 轮播议题 -->
            <p>热门议题</p>
            <div class="recommed_topic"></div>
        </div>
        <div class="copyright">
            <p>© Copyright 2018. Powered by DXstudio. All rights reserved.</p>
        </div>
        <div class="toTop">
            <a href="javascript:;" class="GoTop" title="回到顶部">
                <img src="../img/3.png">
            </a>
        </div>
    </div>
    <iframe src="particles.html" id="particles"></iframe>
    <script src="../js/jquery.min.js"></script>
    <script src="../layui/layer.js"></script>
    <script src="../js/jquery.nicescroll.min.js"></script>
    <script src="../DPlayer/flv.min.js"></script>
    <script src="../DPlayer/hls.js"></script>
    <script src="../DPlayer/DPlayer.min.js"></script>
    <script src="../js/same.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>