<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <title>问道-RichEditor</title>
    <link rel="stylesheet" href="../css/WangEditor.css">
</head>

<body style="display: flex;justify-content: center;flex-wrap: wrap;">
    <div id="top_list" class="toolbar" style="width:100%;background: #fff;box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);"></div>
    <div id="bottom_content" class="user_edit" style="width:700px;min-height:calc(100vh - 120px);max-height:calc(100vh - 120px);display: flex;justify-content: center;align-content: center;flex-wrap:wrap;background:#fff;margin-top:90px;box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);">
    </div>
    <script src="../wangEditor/wangEditor.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script>
        var E = window.wangEditor;
        var editor = new E('#top_list', '#bottom_content');
        editor.customConfig.menus = [
            'bold',
            'italic',
            'strikeThrough',
            'quote',
            'image',
            'head',
            'link',
            'video',
            'undo',
        ];
        editor.customConfig.uploadImgShowBase64 = true; //使用base64保存图片
        // editor.customConfig.uploadImgServer = '/upload'; //上传图片到服务器
        editor.customConfig.zIndex = 0;
        editor.create();
        var MyDate = new Date();
        var getYear = MyDate.getFullYear(); //得到年
        var getMonths = MyDate.getMonth() + 1; //得到月
        var getDays = MyDate.getDate(); //得到天
        var CompleteTime = getYear + '/' + getMonths + '/' + getDays;
        $(function () {
            $('.input_Time').val(CompleteTime);
        });

        $(window).resize(function () {
            var W_H = document.documentElement.clientHeight || document.body.clientHeight;
            var W_W = document.documentElement.clientWidth || document.body.clientWidth;

            $('.cover_big').css({
                width: W_W,
                height: W_H,
            });
        });

        var onOff = true;

        $('.hoverSameA2').hover(function () {
            onOff = false;
        }, function () {
            onOff = true;
        });

        $('.w-e-menu a').hover(function () {
            if (onOff) {
                var word = $(this).attr("word");
                $('.w-e-menu .prompt').remove();
                $(this).append('<div class="prompt"><span>' + word + '</span></div>');
                setTimeout(function () {
                    $('.prompt').css({
                        'transform': 'translateX(-50%) scale(1)',
                    });
                }, 10);
            }
        }, function () {
            $('.prompt').remove();
        });

        $('.publish_A').on('click', function () {
            console.log($('.w-e-text').html());
        })
    </script>
</body>

</html>