<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/same.css">
    <link rel="stylesheet" href="../css/signIn.css">
</head>

<body>
    <div id="container">
        <div id="main_content">
            <div class="sign_btn">
                <a href="../html/signIn.html">登录</a>
                <b>&</b>
                <a href="../html/signUp.html">注册</a>
            </div>
            <div class="form_content">
                <form>
                    <div>
                        <i class="iconfont">&#xe7e5;</i>
                        <input type="text" placeholder="手机号或邮箱" class="input_text">
                    </div>
                    <div>
                        <i class="iconfont">&#xe657;</i>
                        <input type="text" placeholder="密码" class="input_text">
                    </div>
                    <span class="span_label">
                        <label href="javascript:;" for="remember">
                            <input type="checkbox" id="remember">
                            <p>记住密码</p>
                        </label>
                    </span>
                    <a href="javascript:;" class="signIn_btn">
                        <span>登录</span>
                    </a>
                </form>
            </div>
            <div class="other_sign">
                <h1>其他社交账号登录</h1>
                <div>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe601;</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>