<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <title>问道</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/same.css">
    <link rel="stylesheet" href="../css/WangEditor.css">
    <link rel="stylesheet" href="../css/topicContent.css">
</head>

<body>
    <div id="main">
        <div class="title">
            <div class="logo">
            </div>
            <!-- logo -->
            <div class="list">
                <ul class="left_list">
                    <li>
                        <a href="index.html" target="_blank">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">名师讲堂</a>
                    </li>
                    <li>
                        <a href="javascript:;">视频教学</a>
                    </li>
                    <li>
                        <a href="articlePage.html" target="_blank">经典教文</a>
                    </li>
                    <li>
                        <a href="topic.html" target="_blank">议题大会</a>
                    </li>
                    <li class="same_li">
                        <a href="map.html" title="定位" target="_blank">
                            <i class="iconfont location">&#xe613;</i>
                        </a>
                    </li>
                    <li class="same_li searchLi">
                        <form>
                            <input type="text" placeholder="搜索" class="InputTextBtn">
                            <a href="javascript:;" title="搜索" class="search_special">
                                <i class="iconfont search">&#xe63c;</i>
                            </a>
                        </form>
                    </li>
                    <li class="same_li last_li">
                        <!-- <a href="javascript:;" id="login_a">登录</a>
                            <a href="javascript:;" id="register_a">注册</a> -->
                        <!-- 登录前 -->
                        <div class="location_div_a">
                            <a href="personalCenter.html" class="photo_cicle" target="_blank">
                                <img src="../img/10.jpg">
                            </a>
                            <div class="msg_index_dance">
                                进入个人中心
                            </div>
                        </div>
                        <div class="editor_article">
                            <a href="preset.html" target="_blank">
                                <span>
                                    <i class="iconfont">&#xe645;</i>
                                </span>
                                写文章
                            </a>
                        </div>
                        <!-- 登陆后 -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="topicContentMain">
            <div class="ContainerTopic">
                <div class="leftTopicContent">
                    <div class="topTopic">
                        <div class="innerDiv">
                            <a href="javascript:;" class="imgContain">
                                <img src="../img/newPeople.jpg">
                            </a>
                            <div class="PeopleRight">
                                <div class="PeopleTitle">
                                    <h1>职场新人须知</h1>
                                </div>
                                <div class="describe">
                                    <p>盛夏，骄阳和暴雨在天空轮番控场，捉摸不定，路人衣衫被淋透又晒干，有点像初入职场的你，在「毕业生」和「职场新人」角色切换中无所适从的样子。要如何才能快速脱掉身上的「学生气」？工作中人际关系怎么处理？提升工作效率有什么方法？本期圆桌，一起来聊聊初入职场会面临的种种疑惑。</p>
                                </div>
                                <div class="TopicMessage">
                                    <div class="leftFocus">
                                        <span>722790</span>
                                        <span>次浏览</span>
                                        <span class="AndSpecial">&</span>
                                        <span>122</span>
                                        <span>人关注</span>
                                    </div>
                                    <div class="rightFocus">
                                        <a href="javascript:;" class="RealFocus">关注</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="middleTopic">
                        <div class="OneMiddle">
                            <a href="javascript:;" style="background: #7A023C;color: #fff;">
                                <span>8</span>
                                条最佳评论
                            </a>
                        </div>
                        <div class="TwoMiddle">
                            <a href="javascript:;">
                                <span>4</span>
                                个问题
                            </a>
                        </div>
                    </div>
                    <div class="bottomTopic">
                        <ul class="NewList" style="display: block;">
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <ul class="NewList">
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="TitleA">
                                    <a href="javascript:;">你有什么经验一定要分享给初入职场的新人？</a>
                                </div>
                                <div class="SocialTool">
                                    <a href="javascript:;" class="GuanFocus">
                                        <i class="iconfont">&#xe6e0;</i>
                                        <span>关注</span>
                                    </a>
                                    <a href="javascript:;" class="ZanA">
                                        <i class="iconfont">&#xe60a;</i>
                                        <span>赞</span>
                                        <span class="Zan">2</span>
                                    </a>
                                    <a href="javascript:;" class="commentsAndjoin" data-onOff="1">
                                        <i class="iconfont">&#xe66f;</i>
                                        <span>参与讨论</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rightTopicContent">
                    <div class="topRightTopic">
                        <div class="Hold">
                            <p>东道主</p>
                            <div class="MainMessageImg">
                                <img src="../img/zhihu.jpg">
                                <div class="owner">
                                    <p>知乎圆桌</p>
                                    <p>举办个
                                        <span>249</span>
                                        议题
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottomRightTopic"></div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© Copyright 2018. Powered by DXstudio. All rights reserved.</p>
        </div>
        <div class="toTop">
            <a href="javascript:;" class="GoTop" title="回到顶部">
                <img src="../img/3.png">
            </a>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../layui/layer.js"></script>
    <script src="../js/jquery.nicescroll.min.js"></script>
    <script src="../js/same.js"></script>
    <script src="../wangEditor/wangEditor.min.js"></script>
    <script src="../js/topicContent.js"></script>
</body>

</html>