<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://p9ba3amn1.bkt.clouddn.com/title_logo.ico" type="image/x-icon">
    <title>问道</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/same.css">
    <link rel="stylesheet" href="../css/WangEditor.css">
    <link rel="stylesheet" href="../css/share.min.css">
    <link rel="stylesheet" href="../DPlayer/DPlayer.min.css">
    <link rel="stylesheet" href="../css/VideoToWatch.css">
</head>

<body>
    <div id="main">
        <div class="title">
            <div class="logo">
            </div>
            <!-- logo -->
            <div class="list">
                <ul class="left_list">
                    <li>
                        <a href="index.html" target="_blank">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">名师讲堂</a>
                    </li>
                    <li>
                        <a href="javascript:;">视频教学</a>
                    </li>
                    <li>
                        <a href="articlePage.html" target="_blank">经典教文</a>
                    </li>
                    <li>
                        <a href="topic.html" target="_blank">议题大会</a>
                    </li>
                    <li class="same_li">
                        <a href="map.html" title="定位" target="_blank">
                            <i class="iconfont location">&#xe613;</i>
                        </a>
                    </li>
                    <li class="same_li searchLi">
                        <form>
                            <input type="text" placeholder="搜索" class="InputTextBtn">
                            <a href="javascript:;" title="搜索" class="search_special">
                                <i class="iconfont search">&#xe63c;</i>
                            </a>
                        </form>
                    </li>
                    <li class="same_li last_li">
                        <!-- <a href="javascript:;" id="login_a">登录</a>
                                        <a href="javascript:;" id="register_a">注册</a> -->
                        <!-- 登录前 -->
                        <div class="location_div_a">
                            <a href="personalCenter.html" class="photo_cicle" target="_blank">
                                <img src="../img/10.jpg">
                            </a>
                            <div class="msg_index_dance">
                                进入个人中心
                            </div>
                        </div>
                        <div class="editor_article">
                            <a href="preset.html" target="_blank">
                                <span>
                                    <i class="iconfont">&#xe645;</i>
                                </span>
                                写文章
                            </a>
                        </div>
                        <!-- 登陆后 -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="videoToWatchMain">
            <div class="top-video-danmuList">
                <div class="video-content">
                    <div class="video-title">
                        <p>
                            <span class="left-video-title">
                                <span class="title-span">DJ Soda Mv DJ Soda Mv</span>
                                <a href="javascript:;">视频唱见</a>
                            </span>
                            <span class="right-video-focus-people">
                                <span class="focus-btn">
                                    <a href="javascript:;">关注</a>
                                </span>
                                <span class="play-people-number">
                                    <i class="iconfont">&#xe635;</i>
                                    55万
                                </span>
                            </span>
                        </p>
                    </div>
                    <div id="video-page-play-interface"></div>
                </div>
                <div class="danmu-list-content">
                    <div class="danmu-list-packUp-unfold">
                        <div class="danmu_list_set">
                            <a href="javascript:;">
                                <span>观看人数(0)</span>
                            </a>
                        </div>
                    </div>
                    <div class="danmu-list-main-content">
                        <div class="top-danmu-message-for-time-content-sendTime">
                            <span>
                                <span>时间</span>
                                <span class="danmu-content-and-number">弹幕内容(0)</span>
                            </span>
                            <span>发送时间</span>
                        </div>
                        <div class="all-danmu-message"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="introduce-word">
            <div class="first-first-div">
                <div class="first-div">
                    <span class="synopsis">
                        <a href="javascript:;">简介</a>
                    </span>
                    <div class="introduce-main-content">
                        <p class="show-height">
                            <span class="photo-niCall-created-time">
                                <span class="first-part">
                                    <a href="javascript:;">
                                        <img src="../img/11.jpg">
                                    </a>
                                    <span class="ni-call">
                                        <a href="javascript:;">
                                            养乐多了
                                        </a>
                                    </span>
                                </span>
                                <span class="creat-time">
                                    <i class="iconfont">&#xe60f;</i>
                                    2018-8-28 0:40
                                </span>
                            </span>
                            <i class="YScroll">测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测
                                试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                                测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测
                                试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                                测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测
                                试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                                测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测
                                试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                                测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测
                                试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                                测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测
                                试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                                测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测
                                试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字 测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测 试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                            </i>
                        </p>
                        <div class="share-area">
                            <div class="social-share" data-initialized="true">
                                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-weibo">
                                    <i class="iconfont">&#xe658;</i>
                                </a>
                                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-qq">
                                    <i class="iconfont">&#xe601;</i>
                                </a>
                                <a href="javascript:;" rel="nofollow" class="social-share-icon icon-qzone">
                                    <i class="iconfont">&#xe6d3;</i>
                                </a>
                            </div>
                            <div class="QRcode-content">
                                <div id="QRcode-weixin"></div>
                                <span>微信扫一扫分享</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments-main-content">
            <div class="left-part">
                <div class="left-comments-contents-all">
                    <div class="comments">
                        <div class="CanEdit">
                            <div class="commentsArea">
                                <a href="javascript:;" class="PhotoImg">
                                    <img src="../img/11.jpg">
                                </a>
                                <div class="NewEditor">
                                    <div id="top_list" class="toolbar" style="width:100%;background: #fff;border-bottom: 1px solid #DDD;"></div>
                                    <div id="bottom_content" class="user_edit" style="width:100%;height:200px;display: flex;justify-content: center;align-content: center;flex-wrap:wrap;background:#fff;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="commentsDetail">
                        <div class="containContent">
                            <p class="commentsNum">
                                <span>0</span>
                                条评论
                            </p>
                            <ul class="commentsList">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© Copyright 2018. Powered by DXstudio. All rights reserved.</p>
        </div>
        <div class="toTop">
            <a href="javascript:;" class="GoTop" title="回到顶部">
                <img src="../img/3.png">
            </a>
        </div>
    </div>
    <iframe src="particles.html" id="particles"></iframe>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/social-share.min.js"></script>
    <script src="../js/jquery.qrcode.js"></script>
    <script src="../layui/layer.js"></script>
    <script src="../js/jquery.nicescroll.min.js"></script>
    <script src="../DPlayer/flv.min.js"></script>
    <script src="../DPlayer/hls.js"></script>
    <script src="../DPlayer/DPlayer.min.js"></script>
    <script src="../js/same.js"></script>
    <script src="../wangEditor/wangEditor.min.js"></script>
    <script src="../js/VideoToWatch.js"></script>
</body>

</html>